@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.case-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.case-container h3 {
    color: #333;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

.case-container p {
    margin: 10px 0;
    line-height: 1.5;
}

.case-container ul {
    list-style: none;
    padding: 0;
}

.step-section {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.collapse-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.collapse-toggle:hover {
    background-color: #e9e9e9;
}

.collapse-content {
    padding: 10px;
    margin-top: 5px;
}

.option-item {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.icon-check {
    color: green;
    margin-right: 8px;
}

.icon-times {
    color: red;
    margin-right: 8px;
}

.option-text {
    display: inline-block;
}

.evidence-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    cursor: pointer;
}

.evidence-list {
    margin-top: 5px;
    padding-left: 20px;
}

.evidence-table {
    width: 100%;
    border-collapse: collapse;
}

.evidence-table td {
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.page-number {
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px;
    background-color: #bbb;
    color: #555;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

/* Stripe every other row */
.evidence-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.evidence-table tr:nth-child(odd) {
    background-color: #e9e9e9;
}

.page-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px;
    background-color: #bbb;
    color: #555;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    min-width: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    font-size: larger;
}

.final-determination {
    font-weight: bold;
}

.subheader-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: smaller;
}